body{
  background-color: #40744D;
  font-family: Arial;
}
*{
  box-sizing: border-box;
}
.container{
  background-color: #C1EFC0;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
  border: 8px dotted #850000;
}
.left-column p{
  margin: 0px;
  text-transform: uppercase;
}
.left-column p:first-child{
  font-weight: bold;
  font-size: 17px;
}
.left-column p:nth-child(2){
  font-style:italic;
}
.right-column p{
  font-size: 15px;
  letter-spacing: 1px;
  font-family: Georgia;
}
.caption{
  font-size: 10px;
  color: gray;
  margin-top: 20px;
  font-style: italic;
}
.right-column .caption{
  font-size: 10px;
  color: gray;
}
.right-column p:first-child{
  margin-top: 0px;
}
.right-column p:nth-child(12){
  font-weight: bold;
}
h1{
  font-size: 35px;
  font-weight: lighter;
}
img{
  width: 100%;
}
@media(min-width: 500px) {
  .left-column{
    width: 25%;
    float: left;
  }
  .right-column{
    width: 75%;
    float: left;
    padding-left: 10px;
  }
}
